:root {
  --background: #131126;
  --highlight: #B93C9B;
  --gradient: linear-gradient(90deg, #ED1945 -2.11%, #BB3997 45.71%, #7F63FE 101.24%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #fff;
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 128px;
  min-height: 100vh;
}

.logo {
  background: url(/logo.svg) no-repeat;
  display: block;
  width: 415px;
  height: 124px;
  text-indent: -9999px;
}

.jofelipe {
  background: url(/jofelipe.svg) no-repeat;
  display: block;
  width: 141px;
  height: 39px;
  text-indent: -9999px;
}

// lil hack for sonner toast :(
main > section {
  position: absolute;
}